body {
    margin: 0;
    padding:0;
    font-family: 'Kanit', sans-serif;
}

p {
    color: #ffffff
}

/* NAV */
nav {
    background-color: rgba(255, 255, 255, 0.4); /* Transparent white */
    backdrop-filter: blur(3px); /* Optional: Adds a blur effect for better readability */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    z-index: 10;
}
nav a {
    text-decoration: none;
    color: #ffffff
}
.logo a {
    font-size: 1.5em;
    font-weight: 500;
}
  
.logo em {
    font-weight: 300;
}


/* VIDEO */
#video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: -1; 
}

.video-content {
    margin: 3rem
}

/* PAYMENT */
ul {
    list-style-type: none;
    display: flex;
}
  
li {
    display: inline-block;
    text-decoration: none;
    padding-left: 1rem;
}
  
/* Button styles */
#paypal {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none; /* Remove underline */
    color: white; /* Button text color */
    background-color: #007BFF; /* Button background color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth hover effect */
}
#paypal:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

#card {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none; /* Remove underline */
    color: white; /* Button text color */
    background-color: #007BFF; /* Button background color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth hover effect */
} 
#card:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}